<a href="https://colab.research.google.com/github/frescoh/tps-pii-colab/blob/5C/Diccionario_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Listas de alumnos
estudiantes_5d = [
   ("Alurralde, Solange Stefania","D","02/04/2007"),
   ("Alvarado, Ludmila Del Milagro","D","06/09/2006"),
   ("Angel, Camila Juliana","D","07/03/2007"),
   ("Arenas, Lucas Gabriel","D","26/06/2007"),
   ("Caseres, Maria Antonia","D","01/07/2006"),
   ("Castillo, Paulina Milagros","D","01/06/2007"),
   ("Correa Segovia, Hugo Mariano","D","04/12/2006"),
   ("D Elia, Alvaro Tadeo","D","27/08/2006"),
   ("Flores, Victoria Agustina","D","12/12/2006"),
   ("Geronimo Soriano, Lizzie Amaya","D","20/01/2007"),
   ("GUZMAN, ANGÉLICA MORENA","D","11/04/2007"),
   ("Guzman, Jazmin Esmeralda Belen","D","31/07/2006"),
   ("Jaime, Anita Maria Belen","D","19/04/2007"),
   ("Lacour Polo, Nazarena","D","19/12/2005"),
   ("Lascano Guanca, Marcelo Fabricio","D","17/02/2006"),
   ("Lezcano, Celia Morena","D","01/07/2005"),
   ("Martinez, Tomas Andres","D","22/03/2007"),
   ("PORTELLA VALDIVIA, PEDRO FRANCISCO","D","24/01/2007"),
   ("Retamal Cisneros, Zacarias Josue","D","24/02/2007"),
   ("Rosales, Francisco Gabriel","D","14/11/2006"),
   ("Salem Barba, Mahia","D","14/10/2005"),
   ("Soto Camara, Agustin Ignacio","D","07/11/2005"),
   ("Villalba, Irina","D","09/09/2006"),
   ("Voltolini, Emanuel Tobias","D","17/09/2006"),
   ("Zalazar, Santino Stefano","D","30/09/2006")
]

estudiantes_5c=[
    ("ABUD LASPIUR, LOURDES MARIEL","C","05/12/2006"),
    ("Amador, Luana Micaela","C","09/12/2006"),
    ("Anaquin, Leonardo Ezequiel","C","06/09/2005"),
    ("Araoz Sanchez, Lautaro Nahuel","C","28/12/2005"),
    ("Argañaraz, Agostina Abril","C","11/10/2006"),
    ("Barrera, Matias Ezequiel","C","27/02/2007"),
    ("Barrozo Vedia, Joaquin Nicolas","C","15/04/2006"),
    ("Bettinelli, Valentino","C","12/07/2006"),
    ("Bracamonte Martinez, Salvador","C","02/11/2005"),
    ("Colque Rivero, Ariana Zoe Del Valle","C","27/12/2006"),
    ("Diaz, Dulce Maitena","C","11/12/2006"),
    ("FIGUEROA, SANTINO JOSUE","C","12/05/2007"),
    ("Flores Cardozo, Agustina Tiara","C","18/03/2006"),
    ("Gallo, Octavio Ismael","C","04/08/2006"),
    ("Galvan, Lourdes Yamila","C","19/08/2005"),
    ("Giangreco, Vitto Tomasso","C","21/03/2007"),
    ("Grancara, Martina Luna","C","15/12/2006"),
    ("Guanca, Sara Elizabeth","C","17/01/2007"),
    ("Lopez, Victoria Constanza","C","12/11/2007"),
    ("Mamani Garrido, Rosario Agostina","C","24/10/2006"),
    ("Marinaro, Martin Ezequiel","C","03/11/2006"),
    ("Merluzzi Dagum, Ignacio","C","22/12/2005"),
    ("Messina, Martina","C","13/07/2005"),
    ("RASUK, KARIM", "C","13/07/2007"),
    ("Rios, Lucia Magali","C","22/09/2006"),
    ("Sanchez Flores, Matías Agustín","C","15/02/2007"),
    ("Scarano, Renato Marcelo","C","06/12/2006"),
    ("Sierra, Lucas Mauricio","C","03/04/2005"),
    ("Tapia, Martin Gabriel","C","30/05/2006"),
    ("Vilte, Mia Antonella Alondra","C","10/09/2005"),
    ("Virgillito, Katya Milena","C","19/06/2007")
]

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Reemplaza todos los valores del nombre por los que obtengas del método title(). De esta manera las listas quedaran con los datos más homogéneos.

In [2]:
estudiantes = []
for i in range(len(estudiantes_5c)):
  nombre, divi, fecha_nac= estudiantes_5c[i]
  estudiantes.append((nombre.title(),divi,fecha_nac))

for i in range(len(estudiantes_5d)):
  nombre, divi, fecha_nac= estudiantes_5d[i]
  estudiantes.append((nombre.title(),divi,fecha_nac))

for estudiante in estudiantes:
  print(estudiante)

('Abud Laspiur, Lourdes Mariel', 'C', '05/12/2006')
('Amador, Luana Micaela', 'C', '09/12/2006')
('Anaquin, Leonardo Ezequiel', 'C', '06/09/2005')
('Araoz Sanchez, Lautaro Nahuel', 'C', '28/12/2005')
('Argañaraz, Agostina Abril', 'C', '11/10/2006')
('Barrera, Matias Ezequiel', 'C', '27/02/2007')
('Barrozo Vedia, Joaquin Nicolas', 'C', '15/04/2006')
('Bettinelli, Valentino', 'C', '12/07/2006')
('Bracamonte Martinez, Salvador', 'C', '02/11/2005')
('Colque Rivero, Ariana Zoe Del Valle', 'C', '27/12/2006')
('Diaz, Dulce Maitena', 'C', '11/12/2006')
('Figueroa, Santino Josue', 'C', '12/05/2007')
('Flores Cardozo, Agustina Tiara', 'C', '18/03/2006')
('Gallo, Octavio Ismael', 'C', '04/08/2006')
('Galvan, Lourdes Yamila', 'C', '19/08/2005')
('Giangreco, Vitto Tomasso', 'C', '21/03/2007')
('Grancara, Martina Luna', 'C', '15/12/2006')
('Guanca, Sara Elizabeth', 'C', '17/01/2007')
('Lopez, Victoria Constanza', 'C', '12/11/2007')
('Mamani Garrido, Rosario Agostina', 'C', '24/10/2006')
('Marinaro, Martin Ezequiel', 'C', '03/11/2006')
('Merluzzi Dagum, Ignacio', 'C', '22/12/2005')
('Messina, Martina', 'C', '13/07/2005')
('Rasuk, Karim', 'C', '13/07/2007')
('Rios, Lucia Magali', 'C', '22/09/2006')
('Sanchez Flores, Matías Agustín', 'C', '15/02/2007')
('Scarano, Renato Marcelo', 'C', '06/12/2006')
('Sierra, Lucas Mauricio', 'C', '03/04/2005')
('Tapia, Martin Gabriel', 'C', '30/05/2006')
('Vilte, Mia Antonella Alondra', 'C', '10/09/2005')
('Virgillito, Katya Milena', 'C', '19/06/2007')
('Alurralde, Solange Stefania', 'D', '02/04/2007')
('Alvarado, Ludmila Del Milagro', 'D', '06/09/2006')
('Angel, Camila Juliana', 'D', '07/03/2007')
('Arenas, Lucas Gabriel', 'D', '26/06/2007')
('Caseres, Maria Antonia', 'D', '01/07/2006')
('Castillo, Paulina Milagros', 'D', '01/06/2007')
('Correa Segovia, Hugo Mariano', 'D', '04/12/2006')
('D Elia, Alvaro Tadeo', 'D', '27/08/2006')
('Flores, Victoria Agustina', 'D', '12/12/2006')
('Geronimo Soriano, Lizzie Amaya', 'D', '20/01/2007')
('Guzman, Angélica Morena', 'D', '11/04/2007')
('Guzman, Jazmin Esmeralda Belen', 'D', '31/07/2006')
('Jaime, Anita Maria Belen', 'D', '19/04/2007')
('Lacour Polo, Nazarena', 'D', '19/12/2005')
('Lascano Guanca, Marcelo Fabricio', 'D', '17/02/2006')
('Lezcano, Celia Morena', 'D', '01/07/2005')
('Martinez, Tomas Andres', 'D', '22/03/2007')
('Portella Valdivia, Pedro Francisco', 'D', '24/01/2007')
('Retamal Cisneros, Zacarias Josue', 'D', '24/02/2007')
('Rosales, Francisco Gabriel', 'D', '14/11/2006')
('Salem Barba, Mahia', 'D', '14/10/2005')
('Soto Camara, Agustin Ignacio', 'D', '07/11/2005')
('Villalba, Irina', 'D', '09/09/2006')
('Voltolini, Emanuel Tobias', 'D', '17/09/2006')
('Zalazar, Santino Stefano', 'D', '30/09/2006')

2. Genera una lista de diccionarios con los datos de las listas, donde las claves de los mismos serán:
- "apellido"
- "nombre"
- "curso"
- "division"
- "feha_de_nacimiento"

Muestra la información generada.

In [3]:
lista_dict= []
for estudiante in estudiantes:
  nombre_completo,division,fecha_nacimiento = estudiante
  apellido,nombre  =  nombre_completo.split(",")
  nombre = nombre.strip()
  diccionario= {}
  diccionario["nombre"] = nombre
  diccionario["apellido"] = apellido
  diccionario["division"] = division
  diccionario["curso"] = 5
  diccionario["fecha_nacimiento"] = fecha_nacimiento
  lista_dict.append(diccionario)

for estudiante in lista_dict:
  print(estudiante)

{'nombre': 'Lourdes Mariel', 'apellido': 'Abud Laspiur', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '05/12/2006'}
{'nombre': 'Luana Micaela', 'apellido': 'Amador', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '09/12/2006'}
{'nombre': 'Leonardo Ezequiel', 'apellido': 'Anaquin', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '06/09/2005'}
{'nombre': 'Lautaro Nahuel', 'apellido': 'Araoz Sanchez', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '28/12/2005'}
{'nombre': 'Agostina Abril', 'apellido': 'Argañaraz', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '11/10/2006'}
{'nombre': 'Matias Ezequiel', 'apellido': 'Barrera', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '27/02/2007'}
{'nombre': 'Joaquin Nicolas', 'apellido': 'Barrozo Vedia', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '15/04/2006'}
{'nombre': 'Valentino', 'apellido': 'Bettinelli', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '12/07/2006'}
{'nombre': 'Salvador', 'apellido': 'Bracamonte Martinez', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '02/11/2005'}
{'nombre': 'Ariana Zoe Del Valle', 'apellido': 'Colque Rivero', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '27/12/2006'}
{'nombre': 'Dulce Maitena', 'apellido': 'Diaz', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '11/12/2006'}
{'nombre': 'Santino Josue', 'apellido': 'Figueroa', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '12/05/2007'}
{'nombre': 'Agustina Tiara', 'apellido': 'Flores Cardozo', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '18/03/2006'}
{'nombre': 'Octavio Ismael', 'apellido': 'Gallo', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '04/08/2006'}
{'nombre': 'Lourdes Yamila', 'apellido': 'Galvan', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '19/08/2005'}
{'nombre': 'Vitto Tomasso', 'apellido': 'Giangreco', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '21/03/2007'}
{'nombre': 'Martina Luna', 'apellido': 'Grancara', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '15/12/2006'}
{'nombre': 'Sara Elizabeth', 'apellido': 'Guanca', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '17/01/2007'}
{'nombre': 'Victoria Constanza', 'apellido': 'Lopez', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '12/11/2007'}
{'nombre': 'Rosario Agostina', 'apellido': 'Mamani Garrido', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '24/10/2006'}
{'nombre': 'Martin Ezequiel', 'apellido': 'Marinaro', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '03/11/2006'}
{'nombre': 'Ignacio', 'apellido': 'Merluzzi Dagum', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '22/12/2005'}
{'nombre': 'Martina', 'apellido': 'Messina', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '13/07/2005'}
{'nombre': 'Karim', 'apellido': 'Rasuk', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '13/07/2007'}
{'nombre': 'Lucia Magali', 'apellido': 'Rios', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '22/09/2006'}
{'nombre': 'Matías Agustín', 'apellido': 'Sanchez Flores', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '15/02/2007'}
{'nombre': 'Renato Marcelo', 'apellido': 'Scarano', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '06/12/2006'}
{'nombre': 'Lucas Mauricio', 'apellido': 'Sierra', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '03/04/2005'}
{'nombre': 'Martin Gabriel', 'apellido': 'Tapia', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '30/05/2006'}
{'nombre': 'Mia Antonella Alondra', 'apellido': 'Vilte', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '10/09/2005'}
{'nombre': 'Katya Milena', 'apellido': 'Virgillito', 'division': 'C', 'curso': 5, 'fecha_nacimiento': '19/06/2007'}
{'nombre': 'Solange Stefania', 'apellido': 'Alurralde', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '02/04/2007'}
{'nombre': 'Ludmila Del Milagro', 'apellido': 'Alvarado', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '06/09/2006'}
{'nombre': 'Camila Juliana', 'apellido': 'Angel', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '07/03/2007'}
{'nombre': 'Lucas Gabriel', 'apellido': 'Arenas', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '26/06/2007'}
{'nombre': 'Maria Antonia', 'apellido': 'Caseres', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '01/07/2006'}
{'nombre': 'Paulina Milagros', 'apellido': 'Castillo', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '01/06/2007'}
{'nombre': 'Hugo Mariano', 'apellido': 'Correa Segovia', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '04/12/2006'}
{'nombre': 'Alvaro Tadeo', 'apellido': 'D Elia', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '27/08/2006'}
{'nombre': 'Victoria Agustina', 'apellido': 'Flores', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '12/12/2006'}
{'nombre': 'Lizzie Amaya', 'apellido': 'Geronimo Soriano', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '20/01/2007'}
{'nombre': 'Angélica Morena', 'apellido': 'Guzman', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '11/04/2007'}
{'nombre': 'Jazmin Esmeralda Belen', 'apellido': 'Guzman', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '31/07/2006'}
{'nombre': 'Anita Maria Belen', 'apellido': 'Jaime', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '19/04/2007'}
{'nombre': 'Nazarena', 'apellido': 'Lacour Polo', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '19/12/2005'}
{'nombre': 'Marcelo Fabricio', 'apellido': 'Lascano Guanca', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '17/02/2006'}
{'nombre': 'Celia Morena', 'apellido': 'Lezcano', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '01/07/2005'}
{'nombre': 'Tomas Andres', 'apellido': 'Martinez', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '22/03/2007'}
{'nombre': 'Pedro Francisco', 'apellido': 'Portella Valdivia', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '24/01/2007'}
{'nombre': 'Zacarias Josue', 'apellido': 'Retamal Cisneros', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '24/02/2007'}
{'nombre': 'Francisco Gabriel', 'apellido': 'Rosales', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '14/11/2006'}
{'nombre': 'Mahia', 'apellido': 'Salem Barba', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '14/10/2005'}
{'nombre': 'Agustin Ignacio', 'apellido': 'Soto Camara', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '07/11/2005'}
{'nombre': 'Irina', 'apellido': 'Villalba', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '09/09/2006'}
{'nombre': 'Emanuel Tobias', 'apellido': 'Voltolini', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '17/09/2006'}
{'nombre': 'Santino Stefano', 'apellido': 'Zalazar', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '30/09/2006'}

3. Genera un diccionario en python, en donde la clave sea cada nombre que aparece en las listas y el valor será la cantidad de veces que se encuentra el mismo.
Para este punto es posible fusionar ambas listas en una sola, recordá que hay un método que realiza esta acción.

Mostrá la informacion generada

In [4]:
lista_nombres = []
for estudiante in estudiantes:
  nombre_completo = estudiante[0].replace(",","").split()
  lista_nombres.extend(nombre_completo)

ocurrencias_nombres= {}
for nombre in lista_nombres:
  if nombre in ocurrencias_nombres.keys():
    ocurrencias_nombres[nombre] += 1
  else:
    ocurrencias_nombres[nombre] = 1

for nombre,ocurrencia in ocurrencias_nombres.items():
  print(f"El nombre {nombre} apareció {ocurrencia} veces")

El nombre Abud apareció 1 veces
El nombre Laspiur apareció 1 veces
El nombre Lourdes apareció 2 veces
El nombre Mariel apareció 1 veces
El nombre Amador apareció 1 veces
El nombre Luana apareció 1 veces
El nombre Micaela apareció 1 veces
El nombre Anaquin apareció 1 veces
El nombre Leonardo apareció 1 veces
El nombre Ezequiel apareció 3 veces
El nombre Araoz apareció 1 veces
El nombre Sanchez apareció 2 veces
El nombre Lautaro apareció 1 veces
El nombre Nahuel apareció 1 veces
El nombre Argañaraz apareció 1 veces
El nombre Agostina apareció 2 veces
El nombre Abril apareció 1 veces
El nombre Barrera apareció 1 veces
El nombre Matias apareció 1 veces
El nombre Barrozo apareció 1 veces
El nombre Vedia apareció 1 veces
El nombre Joaquin apareció 1 veces
El nombre Nicolas apareció 1 veces
El nombre Bettinelli apareció 1 veces
El nombre Valentino apareció 1 veces
El nombre Bracamonte apareció 1 veces
El nombre Martinez apareció 2 veces
El nombre Salvador apareció 1 veces
El nombre Colque apareció 1 veces
El nombre Rivero apareció 1 veces
El nombre Ariana apareció 1 veces
El nombre Zoe apareció 1 veces
El nombre Del apareció 2 veces
El nombre Valle apareció 1 veces
El nombre Diaz apareció 1 veces
El nombre Dulce apareció 1 veces
El nombre Maitena apareció 1 veces
El nombre Figueroa apareció 1 veces
El nombre Santino apareció 2 veces
El nombre Josue apareció 2 veces
El nombre Flores apareció 3 veces
El nombre Cardozo apareció 1 veces
El nombre Agustina apareció 2 veces
El nombre Tiara apareció 1 veces
El nombre Gallo apareció 1 veces
El nombre Octavio apareció 1 veces
El nombre Ismael apareció 1 veces
El nombre Galvan apareció 1 veces
El nombre Yamila apareció 1 veces
El nombre Giangreco apareció 1 veces
El nombre Vitto apareció 1 veces
El nombre Tomasso apareció 1 veces
El nombre Grancara apareció 1 veces
El nombre Martina apareció 2 veces
El nombre Luna apareció 1 veces
El nombre Guanca apareció 2 veces
El nombre Sara apareció 1 veces
El nombre Elizabeth apareció 1 veces
El nombre Lopez apareció 1 veces
El nombre Victoria apareció 2 veces
El nombre Constanza apareció 1 veces
El nombre Mamani apareció 1 veces
El nombre Garrido apareció 1 veces
El nombre Rosario apareció 1 veces
El nombre Marinaro apareció 1 veces
El nombre Martin apareció 2 veces
El nombre Merluzzi apareció 1 veces
El nombre Dagum apareció 1 veces
El nombre Ignacio apareció 2 veces
El nombre Messina apareció 1 veces
El nombre Rasuk apareció 1 veces
El nombre Karim apareció 1 veces
El nombre Rios apareció 1 veces
El nombre Lucia apareció 1 veces
El nombre Magali apareció 1 veces
El nombre Matías apareció 1 veces
El nombre Agustín apareció 1 veces
El nombre Scarano apareció 1 veces
El nombre Renato apareció 1 veces
El nombre Marcelo apareció 2 veces
El nombre Sierra apareció 1 veces
El nombre Lucas apareció 2 veces
El nombre Mauricio apareció 1 veces
El nombre Tapia apareció 1 veces
El nombre Gabriel apareció 3 veces
El nombre Vilte apareció 1 veces
El nombre Mia apareció 1 veces
El nombre Antonella apareció 1 veces
El nombre Alondra apareció 1 veces
El nombre Virgillito apareció 1 veces
El nombre Katya apareció 1 veces
El nombre Milena apareció 1 veces
El nombre Alurralde apareció 1 veces
El nombre Solange apareció 1 veces
El nombre Stefania apareció 1 veces
El nombre Alvarado apareció 1 veces
El nombre Ludmila apareció 1 veces
El nombre Milagro apareció 1 veces
El nombre Angel apareció 1 veces
El nombre Camila apareció 1 veces
El nombre Juliana apareció 1 veces
El nombre Arenas apareció 1 veces
El nombre Caseres apareció 1 veces
El nombre Maria apareció 2 veces
El nombre Antonia apareció 1 veces
El nombre Castillo apareció 1 veces
El nombre Paulina apareció 1 veces
El nombre Milagros apareció 1 veces
El nombre Correa apareció 1 veces
El nombre Segovia apareció 1 veces
El nombre Hugo apareció 1 veces
El nombre Mariano apareció 1 veces
El nombre D apareció 1 veces
El nombre Elia apareció 1 veces
El nombre Alvaro apareció 1 veces
El nombre Tadeo apareció 1 veces
El nombre Geronimo apareció 1 veces
El nombre Soriano apareció 1 veces
El nombre Lizzie apareció 1 veces
El nombre Amaya apareció 1 veces
El nombre Guzman apareció 2 veces
El nombre Angélica apareció 1 veces
El nombre Morena apareció 2 veces
El nombre Jazmin apareció 1 veces
El nombre Esmeralda apareció 1 veces
El nombre Belen apareció 2 veces
El nombre Jaime apareció 1 veces
El nombre Anita apareció 1 veces
El nombre Lacour apareció 1 veces
El nombre Polo apareció 1 veces
El nombre Nazarena apareció 1 veces
El nombre Lascano apareció 1 veces
El nombre Fabricio apareció 1 veces
El nombre Lezcano apareció 1 veces
El nombre Celia apareció 1 veces
El nombre Tomas apareció 1 veces
El nombre Andres apareció 1 veces
El nombre Portella apareció 1 veces
El nombre Valdivia apareció 1 veces
El nombre Pedro apareció 1 veces
El nombre Francisco apareció 2 veces
El nombre Retamal apareció 1 veces
El nombre Cisneros apareció 1 veces
El nombre Zacarias apareció 1 veces
El nombre Rosales apareció 1 veces
El nombre Salem apareció 1 veces
El nombre Barba apareció 1 veces
El nombre Mahia apareció 1 veces
El nombre Soto apareció 1 veces
El nombre Camara apareció 1 veces
El nombre Agustin apareció 1 veces
El nombre Villalba apareció 1 veces
El nombre Irina apareció 1 veces
El nombre Voltolini apareció 1 veces
El nombre Emanuel apareció 1 veces
El nombre Tobias apareció 1 veces
El nombre Zalazar apareció 1 veces
El nombre Stefano apareció 1 veces

4. Genera un diccionario en python, en donde la clave sea cada apellido que aparece en las listas y el valor será la cantidad de veces que se encuentra el mismo.
Para este punto es posible fusionar ambas listas en una sola, recordá que hay un método que realiza esta acción.

In [ ]:
pass

5. Solicita al usuario que ingrese un apellido y muestra  a todos los estudiantes con ese apellido.

In [ ]:
pass

6. Solicita al usuario que ingrese un nombre y muestra a todos los estudiantes con el nombre ingresado.

In [ ]:
pass

7. Busca el diccionario con tu información dentro de la lista y cámbiate de división, de tal manera que si estas en 5C, con el cambio quedes en 5D y viceversa.

In [6]:
# Operador ternario o expresion condicional
num = int(input("Ingrese un numero: "))
salida = "Es Par" if num%2==0 else "Es impar"
print(salida)

Ingrese un numero: 2
Es Par

In [11]:
nombre= input("Ingrese su nombre: ").title()
apellido = input("Ingrese su apellido: ").title()
i = 0
while i<len(lista_dict):
  if lista_dict[i]["apellido"] == apellido and lista_dict[i]["nombre"] == nombre:
    break
  else:
    i+=1
if i<len(lista_dict):
  lista_dict[i]["division"] = "C" if lista_dict[i]["division"] == "D" else "D"

print(lista_dict[i])

# Celia Morena
# Lezcano

Ingrese su nombre: Celia Morena
Ingrese su apellido: Lezcano
{'nombre': 'Celia Morena', 'apellido': 'Lezcano', 'division': 'D', 'curso': 5, 'fecha_nacimiento': '01/07/2005'}

8. Ordenar la lista alfabeticamente por nombre. Ascendente y descendentemente. Para elegir como ordenarla, mostrar un menú donde el usuario podrá decidir como quiere ver la salida.

9. Ordenar la lista alfabeticamente por apellido. Ascendente y descendentemente. Para elegir como ordenarla, mostrar un menú donde el usuario podrá decidir como quiere ver la salida.

10. Ordena la lista por fecha de nacimiento, de manera ascendente y descendente.

11. Generar una estuctura de diccionario anidado en donde la clave sea el nombre del estudiante y el valor sea un diccionario con los datos del mismo, de la siguiente manera:




```python
estudiantes = {
    "Juan Perez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "15/03/2006"
    },
    "Maria Gomez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "22/07/2006"
    },
    "Carlos Lopez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "05/10/2006"
    }
}
```