<a href="https://colab.research.google.com/github/stefy745/tps-pii-colab/blob/main/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [ ]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

{
    "name": "Abud Laspiur, Lourdes Mariel",
    "section": "C",
    "dob": "05/12/2006"
} ,
{
    "name": "Amador, Luana Micaela",
    "section": "C",
    "dob": "09/12/2006"
} ,
{
    "name": "Anaquin, Leonardo Ezequiel",
    "section": "C",
    "dob": "06/09/2005"
} ,
{
    "name": "Araoz Sanchez, Lautaro Nahuel",
    "section": "C",
    "dob": "28/12/2005"
} ,
{
    "name": "Argañaraz, Agostina Abril",
    "section": "C",
    "dob": "11/10/2006"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrozo Vedia, Joaquin Nicolas",
    "section": "C",
    "dob": "15/04/2006"
} ,
{
    "name": "Bettinelli, Valentino",
    "section": "C",
    "dob": "12/07/2006"
} ,
{
    "name": "Bracamonte Martinez, Salvador",
    "section": "C",
    "dob": "02/11/2005"
} ,
{
    "name": "Colque Rivero, Ariana Zoe Del Valle",
    "section": "C",
    "dob": "27/12/2006"
} ,
{
    "name": "Diaz, Dulce Maitena",
    "section": "C",
    "dob": "11/12/2006"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Flores Cardozo, Agustina Tiara",
    "section": "C",
    "dob": "18/03/2006"
} ,
{
    "name": "Gallo, Octavio Ismael",
    "section": "C",
    "dob": "04/08/2006"
} ,
{
    "name": "Galvan, Lourdes Yamila",
    "section": "C",
    "dob": "19/08/2005"
} ,
{
    "name": "Giangreco, Vitto Tomasso",
    "section": "C",
    "dob": "21/03/2007"
} ,
{
    "name": "Grancara, Martina Luna",
    "section": "C",
    "dob": "15/12/2006"
} ,
{
    "name": "Guanca, Sara Elizabeth",
    "section": "C",
    "dob": "17/01/2007"
} ,
{
    "name": "Lopez, Victoria Constanza",
    "section": "C",
    "dob": "12/11/2007"
} ,
{
    "name": "Mamani Garrido, Rosario Agostina",
    "section": "C",
    "dob": "24/10/2006"
} ,
{
    "name": "Marinaro, Martin Ezequiel",
    "section": "C",
    "dob": "03/11/2006"
} ,
{
    "name": "Merluzzi Dagum, Ignacio",
    "section": "C",
    "dob": "22/12/2005"
} ,
{
    "name": "Messina, Martina",
    "section": "C",
    "dob": "13/07/2005"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rios, Lucia Magali",
    "section": "C",
    "dob": "22/09/2006"
} ,
{
    "name": "Sanchez Flores, Matías Agustín",
    "section": "C",
    "dob": "15/02/2007"
} ,
{
    "name": "Scarano, Renato Marcelo",
    "section": "C",
    "dob": "06/12/2006"
} ,
{
    "name": "Sierra, Lucas Mauricio",
    "section": "C",
    "dob": "03/04/2005"
} ,
{
    "name": "Tapia, Martin Gabriel",
    "section": "C",
    "dob": "30/05/2006"
} ,
{
    "name": "Vilte, Mia Antonella Alondra",
    "section": "C",
    "dob": "10/09/2005"
} ,
{
    "name": "Virgillito, Katya Milena",
    "section": "C",
    "dob": "19/06/2007"
} ,
{
    "name": "Alurralde, Solange Stefania",
    "section": "D",
    "dob": "02/04/2007"
} ,
{
    "name": "Alvarado, Ludmila Del Milagro",
    "section": "D",
    "dob": "06/09/2006"
} ,
{
    "name": "Angel, Camila Juliana",
    "section": "D",
    "dob": "07/03/2007"
} ,
{
    "name": "Arenas, Lucas Gabriel",
    "section": "D",
    "dob": "26/06/2007"
} ,
{
    "name": "Caseres, Maria Antonia",
    "section": "D",
    "dob": "01/07/2006"
} ,
{
    "name": "Castillo, Paulina Milagros",
    "section": "D",
    "dob": "01/06/2007"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "D Elia, Alvaro Tadeo",
    "section": "D",
    "dob": "27/08/2006"
} ,
{
    "name": "Flores, Victoria Agustina",
    "section": "D",
    "dob": "12/12/2006"
} ,
{
    "name": "Geronimo Soriano, Lizzie Amaya",
    "section": "D",
    "dob": "20/01/2007"
} ,
{
    "name": "Guzman, Angélica Morena",
    "section": "D",
    "dob": "11/04/2007"
} ,
{
    "name": "Guzman, Jazmin Esmeralda Belen",
    "section": "D",
    "dob": "31/07/2006"
} ,
{
    "name": "Jaime, Anita Maria Belen",
    "section": "D",
    "dob": "19/04/2007"
} ,
{
    "name": "Lacour Polo, Nazarena",
    "section": "D",
    "dob": "19/12/2005"
} ,
{
    "name": "Lascano Guanca, Marcelo Fabricio",
    "section": "D",
    "dob": "17/02/2006"
} ,
{
    "name": "Lezcano, Celia Morena",
    "section": "D",
    "dob": "01/07/2005"
} ,
{
    "name": "Martinez, Tomas Andres",
    "section": "D",
    "dob": "22/03/2007"
} ,
{
    "name": "Portella Valdivia, Pedro Francisco",
    "section": "D",
    "dob": "24/01/2007"
} ,
{
    "name": "Retamal Cisneros, Zacarias Josue",
    "section": "D",
    "dob": "24/02/2007"
} ,
{
    "name": "Rosales, Francisco Gabriel",
    "section": "D",
    "dob": "14/11/2006"
} ,
{
    "name": "Salem Barba, Mahia",
    "section": "D",
    "dob": "14/10/2005"
} ,
{
    "name": "Soto Camara, Agustin Ignacio",
    "section": "D",
    "dob": "07/11/2005"
} ,
{
    "name": "Villalba, Irina",
    "section": "D",
    "dob": "09/09/2006"
} ,
{
    "name": "Voltolini, Emanuel Tobias",
    "section": "D",
    "dob": "17/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:
  -
  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])

  va a generar el siguiente diccionario:

  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [ ]:
for i in range(len(estudiantes_5d)):
    estudiantes_5d[i] = list(estudiantes_5d[i])
    estudiantes_5d[i][0] = estudiantes_5d[i][0].title()

for i in range(len(estudiantes_5c)):
    estudiantes_5c[i] = list(estudiantes_5c[i])
    estudiantes_5c[i][0] = estudiantes_5c[i][0].title()

for i in estudiantes_5d:
    print(i)

for i in estudiantes_5c:
    print(i)

3. Muestra cuantos nombres únicos hay en cada curso.

In [ ]:
for i in range(len(estudiantes_5d)):
  apellido, nombre = estudiantes_5d[i][0].split(',')
  estudiantes_5d[i] = {
       'apellido': apellido.strip(),
       'nombre': nombre.strip(),
       'curso': '5D',
       'division': estudiantes_5d[i][1],
       'fecha_de_nacimiento': estudiantes_5d[i][2]
  }

for i in estudiantes_5d:
  print(i)

for i in range(len(estudiantes_5c)):
  apellido, nombre = estudiantes_5c[i][0].split(',')
  estudiantes_5c[i] = {
       'apellido': apellido.strip(),
       'nombre': nombre.strip(),
       'curso': '5C',
       'division': estudiantes_5c[i][1],
       'fecha_de_nacimiento': estudiantes_5c[i][2]
  }

for i in estudiantes_5c:
  print(i)

4. Muestra cuantos apellidos únicos hay en cada curso.

In [ ]:
dic_estudiantes = {}
for i in estudiantes_5d:
  if i['nombre'] in dic_estudiantes:
    dic_estudiantes[i['nombre']] += 1
  else:
    dic_estudiantes[i['nombre']] = 1

for i in estudiantes_5c:
  if i['nombre'] in dic_estudiantes:
    dic_estudiantes[i['nombre']] += 1
  else:
    dic_estudiantes[i['nombre']] = 1

for i in dic_estudiantes:
  print(i, dic_estudiantes[i])

5. Mostrá los nombres que se aparecen em ambos cursos

In [ ]:
dic_estudiantes = {}
for i in estudiantes_5d:
  if i['apellido'] in dic_estudiantes:
    dic_estudiantes[i['apellido']] += 1
  else:
    dic_estudiantes[i['apellido']] = 1

for i in estudiantes_5c:
  if i['apellido'] in dic_estudiantes:
    dic_estudiantes[i['apellido']] += 1
  else:
    dic_estudiantes[i['apellido']] = 1

for i in dic_estudiantes:
  print(i, dic_estudiantes[i])

6. Mostrá los apellidos que se aparecen en ambos cursos

In [ ]:
apellido = input("Ingrese un apellido: ").title()
for i in estudiantes_5d:
  if apellido in i['apellido']:
    print(i)

for i in estudiantes_5c:
  if apellido in i['apellido']:
    print(i)

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [ ]:
nombre = input("Ingrese un nombre: ").title()
for i in estudiantes_5d:
  if nombre in i['nombre']:
    print(i)

for i in estudiantes_5c:
  if nombre in i['nombre']:
    print(i)

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [ ]:
nombre = input("Ingrese su nombre: ").title()
for i in estudiantes_5d:
  if nombre in i['nombre']:
    i.update({'division': 'C'})
    i.update({'curso': '5C'})
    print(i)

for i in estudiantes_5c:
  if nombre in i['nombre']:
    i.update({'division': 'D'})
    i.update({'curso': '5D'})
    print(i)

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [ ]:
print("""
1. Ordenar alfabeticamente por nombre de manera ascendente
2. Ordenar alfabeticamente por nombre de manera descendente
""")
opcion = int(input("Ingrese una opcion: "))
if opcion == 1:
  estudiantes_5d.sort(key=lambda x: x['nombre'])
else:
  estudiantes_5d.sort(key=lambda x: x['nombre'], reverse=True)

if opcion == 1:
  estudiantes_5c.sort(key=lambda x: x['nombre'])
else:
  estudiantes_5c.sort(key=lambda x: x['nombre'], reverse=True)


print("""
1. Salida en lista
2. Salida en diccionario
""")
opcion_b = int(input("Ingrese una opcion: "))
if opcion_b == 1:
  print("Estudiantes 5D:", [estudiante['nombre'] for estudiante in estudiantes_5d])
  print("Estudiantes 5C:", [estudiante['nombre'] for estudiante in estudiantes_5c])
else:
  for estudiante in estudiantes_5d:
    print(estudiante)
  for estudiante in estudiantes_5c:
    print(estudiante)

10. elimina tu nombre del conjunto al que pertenece

In [ ]:
print("""
1. Ordenar alfabeticamente por apellido de manera ascendente
2. Ordenar alfabeticamente por apellido de manera descendente
""")
opcion = int(input("Ingrese una opcion: "))
if opcion == 1:
  estudiantes_5d.sort(key=lambda x: x['apellido'])
else:
  estudiantes_5d.sort(key=lambda x: x['apellido'], reverse=True)

if opcion == 1:
  estudiantes_5c.sort(key=lambda x: x['apellido'])
else:
  estudiantes_5c.sort(key=lambda x: x['apellido'], reverse=True)

print("""
1. Salida en lista
2. Salida en diccionario
""")
opcion_b = int(input("Ingrese una opcion: "))
if opcion_b == 1:
  print("Estudiantes 5D:", [estudiante['apellido'] for estudiante in estudiantes_5d])
  print("Estudiantes 5C:", [estudiante['apellido'] for estudiante in estudiantes_5c])
else:
  for estudiante in estudiantes_5d:
    print(estudiante)
  for estudiante in estudiantes_5c:
    print(estudiante)

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [ ]:
print("""
1. Ordenar por fecha de nacimiento de manera ascendente
2. Ordenar por fecha de nacimiento de manera descendente
""")
opcion = int(input("Ingrese una opcion: "))
if opcion == 1:
  estudiantes_5d.sort(key=lambda x: x['fecha_de_nacimiento'])
else:
  estudiantes_5d.sort(key=lambda x: x['fecha_de_nacimiento'], reverse=True)

if opcion == 1:
  estudiantes_5c.sort(key=lambda x: x['fecha_de_nacimiento'])
else:
  estudiantes_5c.sort(key=lambda x: x['fecha_de_nacimiento'], reverse=True)

print("""
1. Salida en lista
2. Salida en diccionario
""")

opcion_b = int(input("Ingrese una opcion: "))
if opcion_b == 1:
  print("Estudiantes 5D:", [estudiante['fecha_de_nacimiento'] for estudiante in estudiantes_5d])
  print("Estudiantes 5C:", [estudiante['fecha_de_nacimiento'] for estudiante in estudiantes_5c])
else:
  for estudiante in estudiantes_5d:
    print(estudiante)
  for estudiante in estudiantes_5c:
    print(estudiante)

12. Solicita un nombre y verifica si este existe en el diccionario

In [ ]:
estudiantes_5d_01 = {}
for i in estudiantes_5d:
  estudiantes_5d_01[i['nombre']] = {
      'año': 2024,
      'división': i['division'],
      'fecha de nacimiento': i['fecha_de_nacimiento']
  }

for i in estudiantes_5d_01:
  print(i, estudiantes_5d_01[i])

estudiantes_5c_01 = {}
for i in estudiantes_5c:
  estudiantes_5c_01[i['nombre']] = {
      'año': 2024,
      'división': i['division'],
      'fecha de nacimiento': i['fecha_de_nacimiento']
  }

for i in estudiantes_5c_01:
  print(i, estudiantes_5c_01[i])