<a href="https://colab.research.google.com/github/frescoh/tps-pii-colab/blob/5D/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [ ]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

{
    "name": "Abud Laspiur, Lourdes Mariel",
    "section": "C",
    "dob": "05/12/2006"
} ,
{
    "name": "Amador, Luana Micaela",
    "section": "C",
    "dob": "09/12/2006"
} ,
{
    "name": "Anaquin, Leonardo Ezequiel",
    "section": "C",
    "dob": "06/09/2005"
} ,
{
    "name": "Araoz Sanchez, Lautaro Nahuel",
    "section": "C",
    "dob": "28/12/2005"
} ,
{
    "name": "Argañaraz, Agostina Abril",
    "section": "C",
    "dob": "11/10/2006"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrozo Vedia, Joaquin Nicolas",
    "section": "C",
    "dob": "15/04/2006"
} ,
{
    "name": "Bettinelli, Valentino",
    "section": "C",
    "dob": "12/07/2006"
} ,
{
    "name": "Bracamonte Martinez, Salvador",
    "section": "C",
    "dob": "02/11/2005"
} ,
{
    "name": "Colque Rivero, Ariana Zoe Del Valle",
    "section": "C",
    "dob": "27/12/2006"
} ,
{
    "name": "Diaz, Dulce Maitena",
    "section": "C",
    "dob": "11/12/2006"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Flores Cardozo, Agustina Tiara",
    "section": "C",
    "dob": "18/03/2006"
} ,
{
    "name": "Gallo, Octavio Ismael",
    "section": "C",
    "dob": "04/08/2006"
} ,
{
    "name": "Galvan, Lourdes Yamila",
    "section": "C",
    "dob": "19/08/2005"
} ,
{
    "name": "Giangreco, Vitto Tomasso",
    "section": "C",
    "dob": "21/03/2007"
} ,
{
    "name": "Grancara, Martina Luna",
    "section": "C",
    "dob": "15/12/2006"
} ,
{
    "name": "Guanca, Sara Elizabeth",
    "section": "C",
    "dob": "17/01/2007"
} ,
{
    "name": "Lopez, Victoria Constanza",
    "section": "C",
    "dob": "12/11/2007"
} ,
{
    "name": "Mamani Garrido, Rosario Agostina",
    "section": "C",
    "dob": "24/10/2006"
} ,
{
    "name": "Marinaro, Martin Ezequiel",
    "section": "C",
    "dob": "03/11/2006"
} ,
{
    "name": "Merluzzi Dagum, Ignacio",
    "section": "C",
    "dob": "22/12/2005"
} ,
{
    "name": "Messina, Martina",
    "section": "C",
    "dob": "13/07/2005"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rios, Lucia Magali",
    "section": "C",
    "dob": "22/09/2006"
} ,
{
    "name": "Sanchez Flores, Matías Agustín",
    "section": "C",
    "dob": "15/02/2007"
} ,
{
    "name": "Scarano, Renato Marcelo",
    "section": "C",
    "dob": "06/12/2006"
} ,
{
    "name": "Sierra, Lucas Mauricio",
    "section": "C",
    "dob": "03/04/2005"
} ,
{
    "name": "Tapia, Martin Gabriel",
    "section": "C",
    "dob": "30/05/2006"
} ,
{
    "name": "Vilte, Mia Antonella Alondra",
    "section": "C",
    "dob": "10/09/2005"
} ,
{
    "name": "Virgillito, Katya Milena",
    "section": "C",
    "dob": "19/06/2007"
} ,
{
    "name": "Alurralde, Solange Stefania",
    "section": "D",
    "dob": "02/04/2007"
} ,
{
    "name": "Alvarado, Ludmila Del Milagro",
    "section": "D",
    "dob": "06/09/2006"
} ,
{
    "name": "Angel, Camila Juliana",
    "section": "D",
    "dob": "07/03/2007"
} ,
{
    "name": "Arenas, Lucas Gabriel",
    "section": "D",
    "dob": "26/06/2007"
} ,
{
    "name": "Caseres, Maria Antonia",
    "section": "D",
    "dob": "01/07/2006"
} ,
{
    "name": "Castillo, Paulina Milagros",
    "section": "D",
    "dob": "01/06/2007"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "D Elia, Alvaro Tadeo",
    "section": "D",
    "dob": "27/08/2006"
} ,
{
    "name": "Flores, Victoria Agustina",
    "section": "D",
    "dob": "12/12/2006"
} ,
{
    "name": "Geronimo Soriano, Lizzie Amaya",
    "section": "D",
    "dob": "20/01/2007"
} ,
{
    "name": "Guzman, Angélica Morena",
    "section": "D",
    "dob": "11/04/2007"
} ,
{
    "name": "Guzman, Jazmin Esmeralda Belen",
    "section": "D",
    "dob": "31/07/2006"
} ,
{
    "name": "Jaime, Anita Maria Belen",
    "section": "D",
    "dob": "19/04/2007"
} ,
{
    "name": "Lacour Polo, Nazarena",
    "section": "D",
    "dob": "19/12/2005"
} ,
{
    "name": "Lascano Guanca, Marcelo Fabricio",
    "section": "D",
    "dob": "17/02/2006"
} ,
{
    "name": "Lezcano, Celia Morena",
    "section": "D",
    "dob": "01/07/2005"
} ,
{
    "name": "Martinez, Tomas Andres",
    "section": "D",
    "dob": "22/03/2007"
} ,
{
    "name": "Portella Valdivia, Pedro Francisco",
    "section": "D",
    "dob": "24/01/2007"
} ,
{
    "name": "Retamal Cisneros, Zacarias Josue",
    "section": "D",
    "dob": "24/02/2007"
} ,
{
    "name": "Rosales, Francisco Gabriel",
    "section": "D",
    "dob": "14/11/2006"
} ,
{
    "name": "Salem Barba, Mahia",
    "section": "D",
    "dob": "14/10/2005"
} ,
{
    "name": "Soto Camara, Agustin Ignacio",
    "section": "D",
    "dob": "07/11/2005"
} ,
{
    "name": "Villalba, Irina",
    "section": "D",
    "dob": "09/09/2006"
} ,
{
    "name": "Voltolini, Emanuel Tobias",
    "section": "D",
    "dob": "17/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:

  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])


  va a generar el siguiente diccionario:


  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

In [6]:
d =  {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
tuple(d.items())

(('name', 'Abud Laspiur, Lourdes Mariel'),
 ('section', 'C'),
 ('dob', '05/12/2006'))

In [7]:
lista_tuplas=[]
for estudiante in estudiantes:
  est_tupla = tuple(estudiante.items())
  lista_tuplas.append(est_tupla)

# for estudiante in lista_tuplas:
#   print(estudiante)

conjunto_estudiantes = set(lista_tuplas)

lista_sin_repetidos =[]
for estudiante in conjunto_estudiantes:
  estudiante_dict = dict(estudiante)
  lista_sin_repetidos.append(estudiante_dict)

for estudiante in lista_sin_repetidos:
  print(estudiante)

{'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'}
{'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'}
{'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'}
{'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'}
{'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'}
{'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'}
{'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'}
{'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'}
{'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'}
{'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'}
{'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
{'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'}
{'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'}
{'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'}
{'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}
{'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'}
{'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'}
{'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'}
{'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'}
{'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'}
{'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'}
{'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'}
{'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'}
{'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'}
{'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'}
{'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'}
{'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'}
{'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'}
{'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'}
{'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'}
{'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'}
{'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'}
{'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'}
{'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'}
{'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'}
{'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'}
{'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'}
{'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'}
{'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'}
{'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'}
{'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'}
{'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'}
{'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'}
{'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'}
{'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'}
{'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'}
{'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'}
{'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'}
{'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'}
{'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'}
{'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'}
{'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'}
{'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'}
{'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'}
{'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'}
{'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'}

In [8]:
t = (('name', 'Correa Segovia, Hugo Mariano'), ('section', 'D'), ('dob', '04/12/2006'))
dict(t)

{'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'}

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [10]:
nombres_5c = set()
apellidos_5c =set()
nombres_5d = set()
apellidos_5d =set()

for estudiante in estudiantes:
  nombre_completo = estudiante["name"]
  apellido, nombre = nombre_completo.split(",")
  apellidos = apellido.split(" ")
  nombres = nombre.split()
  if estudiante["section"] == "C":
    for nombre in nombres:
      nombres_5c.add(nombre)
    for apellido in apellidos:
      apellidos_5c.add(apellido)
  else:
    for nombre in nombres:
      nombres_5d.add(nombre)
    for apellido in apellidos:
      apellidos_5d.add(apellido)
print(nombres_5c)
print(apellidos_5c)
print(nombres_5d)
print(apellidos_5d)

{'Abril', 'Yamila', 'Mauricio', 'Matias', 'Ignacio', 'Martin', 'Renato', 'Rosario', 'Dulce', 'Leonardo', 'Victoria', 'Mia', 'Nahuel', 'Mariel', 'Josue', 'Valle', 'Tomasso', 'Joaquin', 'Agustina', 'Nicolas', 'Lucas', 'Milena', 'Constanza', 'Agostina', 'Lucia', 'Katya', 'Lautaro', 'Luana', 'Sara', 'Ismael', 'Agustín', 'Martina', 'Luna', 'Octavio', 'Zoe', 'Del', 'Maitena', 'Lourdes', 'Matías', 'Salvador', 'Tiara', 'Antonella', 'Valentino', 'Magali', 'Karim', 'Ariana', 'Alondra', 'Gabriel', 'Vitto', 'Elizabeth', 'Micaela', 'Marcelo', 'Santino', 'Ezequiel'}
{'Messina', 'Bracamonte', 'Dagum', 'Cardozo', 'Vedia', 'Tapia', 'Martinez', 'Garrido', 'Laspiur', 'Vilte', 'Gallo', 'Barrozo', 'Bettinelli', 'Amador', 'Figueroa', 'Argañaraz', 'Rivero', 'Flores', 'Colque', 'Grancara', 'Guanca', 'Lopez', 'Abud', 'Giangreco', 'Rasuk', 'Sierra', 'Marinaro', 'Diaz', 'Sanchez', 'Galvan', 'Merluzzi', 'Anaquin', 'Rios', 'Barrera', 'Mamani', 'Araoz', 'Virgillito', 'Scarano'}
{'Solange', 'Tobias', 'Francisco', 'Fabricio', 'Alvaro', 'Hugo', 'Morena', 'Stefania', 'Angélica', 'Victoria', 'Nazarena', 'Lizzie', 'Emanuel', 'Jazmin', 'Maria', 'Josue', 'Agustina', 'Zacarias', 'Belen', 'Juliana', 'Lucas', 'Paulina', 'Esmeralda', 'Santino', 'Amaya', 'Antonia', 'Mariano', 'Pedro', 'Mahia', 'Anita', 'Agustin', 'Milagro', 'Del', 'Tadeo', 'Tomas', 'Irina', 'Ludmila', 'Stefano', 'Celia', 'Gabriel', 'Camila', 'Andres', 'Marcelo', 'Ignacio', 'Milagros'}
{'Polo', 'Castillo', 'Geronimo', 'Martinez', 'Villalba', 'Soto', 'Caseres', 'Salem', 'Voltolini', 'Alvarado', 'Elia', 'Flores', 'Camara', 'Guanca', 'Jaime', 'Soriano', 'Cisneros', 'Guzman', 'Retamal', 'Lascano', 'Segovia', 'Alurralde', 'Lezcano', 'Lacour', 'Correa', 'D', 'Rosales', 'Barba', 'Angel', 'Zalazar', 'Arenas', 'Portella', 'Valdivia'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [11]:
print(f"En 5C hay {len(nombres_5c)} nombres únicos")
print(f"En 5D hay {len(nombres_5d)} nombres únicos")

En 5C hay 54 nombres únicos
En 5D hay 45 nombres únicos

4. Muestra cuantos apellidos únicos hay en cada curso.

In [12]:
print(f"En 5C hay {len(apellidos_5c)} apellidos únicos")
print(f"En 5D hay {len(apellidos_5d)} apellidos únicos")

En 5C hay 38 apellidos únicos
En 5D hay 33 apellidos únicos

5. Mostrá los nombres que se aparecen em ambos cursos

In [13]:
nombres_en_ambos = nombres_5c.intersection(nombres_5d)
for nombre in nombres_en_ambos:
    print(nombre)

Victoria
Del
Josue
Ignacio
Gabriel
Agustina
Marcelo
Santino
Lucas

6. Mostrá los apellidos que se aparecen en ambos cursos

In [15]:
apellidos_en_ambos = apellidos_5c.intersection(apellidos_5d)
for apellidos in apellidos_en_ambos:
    print(apellidos)

Flores
Martinez
Guanca

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [18]:
print("Los nombres que estan en 5D y no en 5C son:")
nombres_5dyno5c = nombres_5d - nombres_5c
for nombre in nombres_5dyno5c:
    print(nombre)

print("\n"*5)

print("Los nombres que estan en 5C y no en 5D son:")
nombres_5cyno5d = nombres_5c.difference(nombres_5d)
for nombre in nombres_5cyno5d:
    print(nombre)

Los nombres que estan en 5D y no en 5C son:
Solange
Tobias
Francisco
Fabricio
Alvaro
Hugo
Morena
Stefania
Angélica
Lizzie
Emanuel
Jazmin
Maria
Zacarias
Belen
Juliana
Esmeralda
Paulina
Amaya
Antonia
Mariano
Pedro
Mahia
Milagros
Anita
Agustin
Milagro
Tadeo
Tomas
Irina
Ludmila
Stefano
Celia
Camila
Andres
Nazarena






Los nombres que estan en 5C y no en 5D son:
Abril
Yamila
Mauricio
Matias
Martin
Renato
Rosario
Dulce
Leonardo
Mia
Nahuel
Mariel
Valle
Tomasso
Joaquin
Nicolas
Milena
Constanza
Agostina
Lucia
Katya
Lautaro
Luana
Sara
Ismael
Agustín
Martina
Luna
Octavio
Zoe
Maitena
Lourdes
Matías
Ezequiel
Salvador
Tiara
Valentino
Magali
Karim
Ariana
Alondra
Vitto
Elizabeth
Micaela
Antonella

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [ ]:
pass

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [19]:
todos_menos_interseccion = nombres_5c.symmetric_difference(nombres_5d)

for nombre in todos_menos_interseccion:
    print(nombre)

Abril
Martin
Angélica
Emanuel
Belen
Juliana
Paulina
Constanza
Agostina
Lucia
Amaya
Sara
Martina
Irina
Karim
Ariana
Alondra
Milagros
Solange
Leonardo
Lizzie
Jazmin
Maria
Joaquin
Nicolas
Milena
Lautaro
Mariano
Ismael
Agustín
Agustin
Octavio
Tadeo
Lourdes
Salvador
Ludmila
Stefano
Magali
Andres
Vitto
Micaela
Ezequiel
Nazarena
Yamila
Mauricio
Matias
Tobias
Francisco
Alvaro
Hugo
Rosario
Mia
Mariel
Tomasso
Esmeralda
Katya
Pedro
Mahia
Luana
Milagro
Maitena
Matías
Valentino
Celia
Elizabeth
Fabricio
Renato
Stefania
Dulce
Nahuel
Valle
Zacarias
Antonia
Anita
Luna
Zoe
Tomas
Tiara
Camila
Antonella
Morena

In [ ]:
todos_menos_en_ambos = nombres_5c.union(nombres_5d) - nombres_5d.intersection(nombres_5c)

10. elimina tu nombre del conjunto al que pertenece

In [20]:
mi_nombre = "Anita"
nombres_5d.discard(mi_nombre)

for nombre in nombres_5d:
    print(nombre)

Solange
Tobias
Francisco
Fabricio
Alvaro
Hugo
Morena
Stefania
Angélica
Victoria
Nazarena
Lizzie
Emanuel
Jazmin
Maria
Josue
Agustina
Zacarias
Belen
Juliana
Lucas
Paulina
Esmeralda
Santino
Amaya
Antonia
Mariano
Pedro
Mahia
Agustin
Milagro
Del
Tadeo
Tomas
Irina
Ludmila
Stefano
Celia
Gabriel
Camila
Andres
Marcelo
Ignacio
Milagros

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [22]:
nombres = input("Ingrese sus nombres: ").title().split()
apellidos = input("Ingrese sus apellidos").title().split()

for nombre in nombres:
    nombres_5d.add(nombre)

for apellido in apellidos:
    apellidos_5d.add(apellido)

for nombre in nombres_5d:
    print(nombre)

for apellido in apellidos_5d;
    print(apellido)

12. Solicita un nombre y verifica si este existe en el conjunto

In [24]:
nombre = input("Ingrese un nombre: ").title()
if nombre in nombres_5d:
    print(f"El nombre {nombre} existe en el conjunto de nombres")
else:
    print(f"El nombre {nombre} no existe en el conjunto de nombres")

El nombre Paulina existe en el conjunto de nombres